<div *ngIf="menuOptions" class="row contenidoCardsAccess">
  <div *ngIf="menuOptions.HCEOnlineHabilita_medicamentos" class="col-12 col-xl-4">
      <app-card-medicamentos></app-card-medicamentos>
  </div>
  <div *ngIf="menuOptions.HCEOnlineHabilita_profesionalesVIsitados" class="col-12 col-xl-4">
      <app-card-profesionales></app-card-profesionales>
  </div>
  <div *ngIf="menuOptions.HCEOnlineHabilita_resultadoDeEstudios" class="col-12 col-xl-4">
      <app-card-estudios></app-card-estudios>
  </div>
</div>
