<div _ngcontent-c5="" class="cardAccess--medicamentos">
  <div _ngcontent-c5="" class="cardAccess__header">
    <div _ngcontent-c5="" class="row cardAccessHeader">
      <div _ngcontent-c5="" class="col-auto cardAccessHeader__icon">
        <i _ngcontent-c5="" aria-hidden="true" class="fa fa-svg fa-pildora fa-fw"></i>
      </div>
      <div _ngcontent-c5="" class="col cardAccessHeader__title">
        <p _ngcontent-c5="">¿Cómo se llamaba? ¿Hace cuánto que lo tomo?</p>
      </div>
      <div _ngcontent-c5="" class="col-auto cardAccessHeader__chevron">
        <a _ngcontent-c5="" routerLink="medicamentos">
          <i _ngcontent-c5="" aria-hidden="true" class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div _ngcontent-c5="" class="cardAccess__body">
    <div _ngcontent-c5="" class="row cardAccessBody">
      <div _ngcontent-c5="" class="col cardAccessBody__content">
        <p _ngcontent-c5="">
          Todos sus medicamentos, fecha de indicación, vigencia de
          tratamientos y más...
        </p>
      </div>
    </div>
  </div>
</div>