<div _ngcontent-c5="" class="cardAccess--profesionales">
  <div _ngcontent-c5="" class="cardAccess__header">
    <div _ngcontent-c5="" class="row cardAccessHeader">
      <div _ngcontent-c5="" class="col-auto cardAccessHeader__icon">
        <i _ngcontent-c5="" aria-hidden="true" class="fa fa-user-md fa-fw"></i>
      </div>
      <div _ngcontent-c5="" class="col cardAccessHeader__title">
        <p _ngcontent-c5="">Todas sus visitas al Hospital y centros</p>
      </div>
      <div _ngcontent-c5="" class="col-auto cardAccessHeader__chevron">
        <a _ngcontent-c5="" routerLink="profesionales">
          <i _ngcontent-c5="" aria-hidden="true" class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div _ngcontent-c5="" class="cardAccess__body">
    <div _ngcontent-c5="" class="row cardAccessBody">
      <div _ngcontent-c5="" class="col cardAccessBody__content">
        <p _ngcontent-c5="">
          Recuerde cuándo, donde, quien y de que servicio fue atendido.
        </p>
      </div>
    </div>
  </div>
</div>