<div class="row">
  <div class="panel-body table-responsive no-border">
    <span> </span><span> </span><span> </span><span> </span><span> </span
    ><span> </span><span> </span><span> </span><span> </span>
   
    <table class="table table-hover table-striped table-condensed" *ngIf="estudio.Imagen?.length">
      <thead>
        <tr>
          <th style="max-width: 150px; text-align: center;">{{titulo}}</th>
          
        </tr>
      </thead>

      <tbody >
        <tr class="estudios_lab">
          
          <td style="white-space: pre-wrap">{{descripcion}}</td>
                  
        </tr>
        
      </tbody>
    </table>
  </div>
</div>