<div class="container-fluid">
  <div class="row contenidoTitle">
      <div class="col">
          <h1> Profesionales visitados </h1>
      </div>
  </div>

  <div class="row contenidoAlerts" *ngIf="!($any(turnos)?.length>0)">
    <div class="col">
        <div class="alertContainer--primary resultados container-fluid">
            <div class="row alertRow">
                <div class="col-auto alert__icon">
                    <i class="fa fa-fw" aria-hidden="true"></i>
                </div>
                <div class="col alert__message">
                    <p>No se registran <strong>Resultados de estudios</strong> en su Historia clínica.</p>
                </div>
                <div class="col-auto alert__close">
                    <a >
                        <i class="fa fa-times fa-fw" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class='row' *ngIf="$any(turnos)?.length>0">
      <div class='col'>
          <div class='card'>
              <div class='card-body'>
                  <div class='row'>
                      <div class='col-12 headTable'>
                          <div class='row align-items-center'>
                              <div class='col-auto'>
                                  <div class='row componenteMostrarCantidadRegistros'>
                                      <div class='col-auto control-label-between'>
                                          <p>Mostrar</p>
                                      </div>
                                      <div class='col'>
                                          <div class='form-group'>
                                            <select class="form-control" type="number" [(ngModel)]="cantidad">
                                                <option [value]="10" selected="">10</option>
                                                <option [value]="25">25</option>
                                                <option [value]="50">50</option>
                                              </select>  
                                          </div>
                                      </div>
                                      <div class='col-auto control-label-between'>
                                          <p>registros</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-auto col-lg-4 col-xl-3 ml-auto">
                                  <div class='form-group componenteBusqueda'>
                                      <div class='input-group'>
                                          <div class='input-group-prepend'>
                                              <span class='input-group-text'><i class='fa fa-search' aria-hidden='true'></i></span>
                                          </div>
                                          <input type='text' class='form-control' [(ngModel)]="buscarTxt" (ngModelChange)="buscar()" placeholder="Buscar">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="table-responsive">
                              <table class='table'>
                                  <thead>
                                      <tr>
                                          <th (click)="sort('Fecha')" class="tableOrderBy--active">Fecha <a ><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i></a></th>
                                          <th (click)="sort('Especialidad')" class="tableOrderBy">Servicio <a ><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i></a></th>
                                          <th (click)="sort('Lugar')" class="tableOrderBy">Centro de atención <a ><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i></a></th>
                                          <th (click)="sort('Medico')" class="tableOrderBy">Profesional <a ><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i></a></th>
                                      </tr>
                                  </thead>
                                  <tbody *ngFor="let t of tunosFiltrados | orderBy: key: reverse | paginate: {itemsPerPage:cantidad, currentPage:p};">
                                      <tr>
                                          <td>{{t.Fecha | date:'dd/MM/yyyy'}}</td>
                                          <td>{{t.Especialidad}}</td>
                                          <td>{{t.Lugar}}</td>
                                          <td>{{t.Medico}}</td>
                                      </tr>
                                     
                                      <!-- <tr>
                                          <td>00-00-0000</td>
                                          <td>Gastroenteritis</td>
                                          <td>Hospital Privado</td>
                                          <td>Gastroenteritis</td>
                                      </tr> -->
                                  </tbody>
                                  <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Proximo" (pageChange)="p = $event" ></pagination-controls>
                              </table>
                          </div>
                      </div>
                      <!-- <div class="col">
                          <nav class="componentePaginador">
                              <ul class="pagination">
                                  <li class="page-item">
                                      <a class="page-link"  aria-label="Previous">
                                          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                      </a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link"  aria-label="Previous">
                                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                                      </a>
                                  </li>
                                  <li class="page-item active"><a class="page-link" >1</a></li>
                                  <li class="page-item"><a class="page-link" >2</a></li>
                                  <li class="page-item"><a class="page-link" >3</a></li>
                                  <li class="page-item">
                                      <a class="page-link"  aria-label="Next">
                                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                                      </a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link"  aria-label="Next">
                                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                      </a>
                                  </li>
                              </ul>
                          </nav>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
 
</div>