
    <div class="modal-header print">
        <div class="modal-header__title">
            <h5 class="modal-title" id="modalInternacionesLabel">Carta de alta de Síndrome confusional</h5>
        </div>

        <div class="modal-header__close">
            <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="modal-body print">
        <div class="row box-secondary justify-content-between">
            <div class="col-auto">
                <div class='form-group row'>
                    <label class='control-label col-auto'>Fecha informe:</label>
                    <p class='form-control-static input-read col-auto'>21-05-2019</p>
                </div>
            </div>
            <div class="col-auto">
                <div class='form-group row'>
                    <label class='control-label col-auto'>Nombre:</label>
                    <p class='form-control-static input-read col-auto'>Mantovani, Maria Cecilia</p>
                </div>
            </div>
            <div class="col-auto">
                <div class='form-group row'>
                    <label class='control-label col-auto'>Sexo:</label>
                    <p class='form-control-static input-read col-auto'>Femenino</p>
                </div>
            </div>
            <div class="col-auto">
                <div class='form-group row'>
                    <label class='control-label col-auto'>Edad:</label>
                    <p class='form-control-static input-read col-auto'>37 años</p>
                </div>
            </div>
            <div class="col-auto">
                <div class='form-group row'>
                    <label class='control-label col-auto'>Informe:</label>
                    <p class='form-control-static input-read col-auto'>Síndrome confusional</p>
                </div>
            </div>
        </div>
        <div class="row report-list">
            <div class="col-12 report-list__title">
                <h6>Diagnóstico principal</h6>
            </div>
            <div class="col-12 report-list__description">
                <p>Crisis isquémica transitoria</p>
            </div>
            <div class="col-12 report-list__title">
                <h6>Comorbilidades</h6>
            </div>
            <div class="col-12 report-list__description">
                <ul>
                    <li> Síndrome de cushing </li>
                    <li>Fibrosis pulmonar</li>
                </ul>
            </div>
            <div class="col-12 report-list__title">
                <h6>Comorbilidades</h6>
            </div>
            <div class="col-12 report-list__description">
                <p>Paciente sexo masculino, 31 años de edad, con antecedentes anteriormente mencionados, ingresó a
                    unidad cerrada el día 21/11/19 derivado de guardia externa con sospecha diagnóstica de accidente
                    isquémico transitorio. Paciente consultó por presentar disminución de agudeza visual con hemianopsia
                    temporal derecha, junto con parestesia facio braquial derecha. Familiar refirió leve bradipsiquia.
                    Fue evaluado por servicio de neurología, y se realizaron los siguientes estudios:</p>
            </div>
            <div class="col-12 report-list__title">
                <h6>Comorbilidades</h6>
            </div>
            <div class="col-12 report-list__description">
                <p>Paciente sexo masculino, 31 años de edad, con antecedentes anteriormente mencionados, ingresó a
                    unidad cerrada el día 21/11/19 derivado de guardia externa con sospecha diagnóstica de accidente
                    isquémico transitorio. Paciente consultó por presentar disminución de agudeza visual con hemianopsia
                    temporal derecha, junto con parestesia facio braquial derecha. Familiar refirió leve bradipsiquia.
                    Fue evaluado por servicio de neurología, y se realizaron los siguientes estudios:</p>
            </div>
            <div class="col-12 report-list__title">
                <h6>Comorbilidades</h6>
            </div>
            <div class="col-12 report-list__description">
                <p>Paciente sexo masculino, 31 años de edad, con antecedentes anteriormente mencionados, ingresó a
                    unidad cerrada el día 21/11/19 derivado de guardia externa con sospecha diagnóstica de accidente
                    isquémico transitorio. Paciente consultó por presentar disminución de agudeza visual con hemianopsia
                    temporal derecha, junto con parestesia facio braquial derecha. Familiar refirió leve bradipsiquia.
                    Fue evaluado por servicio de neurología, y se realizaron los siguientes estudios:</p>
            </div>
            <div class="col-12 report-list__title">
                <h6>Comorbilidades</h6>
            </div>
            <div class="col-12 report-list__description">
                <p>Paciente sexo masculino, 31 años de edad, con antecedentes anteriormente mencionados, ingresó a
                    unidad cerrada el día 21/11/19 derivado de guardia externa con sospecha diagnóstica de accidente
                    isquémico transitorio. Paciente consultó por presentar disminución de agudeza visual con hemianopsia
                    temporal derecha, junto con parestesia facio braquial derecha. Familiar refirió leve bradipsiquia.
                    Fue evaluado por servicio de neurología, y se realizaron los siguientes estudios:</p>
            </div>
            
        </div>
    </div>
    <div class="modal-footer print">
        <div class="modal-header__print">
            <button type="button" class="btn btn-primary" (click)="imprimir()" aria-label="Close"> Imprimir <i
                    class="fa fa-print fa-fw" aria-hidden="true"></i>
            </button>
        </div>
        <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Cerrar</button>

    </div>
