<div class="col-auto mainHCEContent__sidebar" [ngClass]="{colapsado : isCollapsed}" >
  <div class="row mainHCESidebar__logo">
    <div class="col mainHCESidebarLogo logo-mobile">
      <a href="index.html" class="">
        <picture>
          <source
            
            srcset = "../../../../assets/client/TIPS/TIPS logotipo negativo con slogan.ai"           
            type="image/webp"
            class="img-fluid"
          />
          <img
          src="../../../../assets/client/TIPS/TIPS logotipo negativo con slogan.jpg"
                      
            alt="Logotipo"
            class="img-fluid"
          />
        </picture>
      </a>
    </div>
    <div class="col mainHCESidebarLogo--colapsado">
      <a href="index.html" class="d-none d-lg-flex">
        <picture>
          <source
            srcset="../../../../assets/client/TIPS/TIPS logotipo negativo.jpg" 
            type="image/webp"
            class="img-fluid"
          />
          <img
            src="../../../../assets/client/TIPS/TIPS logotipo negativo.jpg"  
            alt="Logotipo"
            class="img-fluid"
          />
        </picture>
      </a>
    </div>
    <button
      id="menuCollapseButton2"
      class="btn btn-icon d-lg-none btn-close-mobile"
      (click)="onMenuClick()"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="row mainHCESidebar__list">
    <div class="col mainHCESidebarList">
      <ul class="mainHCESidebarList__container">
        <li class="mainHCESidebarList__item" [ngClass]="clicked === 0 ? 'active ' : ''" (click)="select(0)" >
          <a routerLink="resumen">
            <i class="fa fa-fw fa-file-text-o"></i>
            <p>Resumen clínico</p>
          </a>
        </li>
        <li class="mainHCESidebarList__item" [ngClass]="clicked === 1 ? 'active ' : ''" (click)="select(1)">
          <a routerLink="motivo-consulta">
            <i class="fa fa-fw fa-stethoscope"></i>
            <p>Motivos de consulta</p>
          </a>
        </li>
        <li class="mainHCESidebarList__item" [ngClass]="clicked === 2 ? 'active ' : ''" (click)="select(2)">
          <a routerLink="profesionales">
            <i class="fa fa-fw fa-user-md"></i>
            <p>Profesionales visitados</p>
          </a>
        </li>
        <li class="mainHCESidebarList__item" [ngClass]="clicked === 3 ? 'active ' : ''" (click)="select(3)">
          <a routerLink="resultados">
            <i class="fa fa-fw fa-laptop"></i>
            <p>Resultados de estudios</p>
          </a>
        </li>
        <li class="mainHCESidebarList__item" [ngClass]="clicked === 4 ? 'active ' : ''" (click)="select(4)">
          <a routerLink="medicamentos">
            <i class="fa fa-fw fa-svg fa-pildora"></i>
            <p>Medicamentos</p>
          </a>
        </li>
        <li class="mainHCESidebarList__item" [ngClass]="clicked === 5 ? 'active ' : ''" (click)="select(5)">
          <a routerLink="internaciones">
            <i class="fa fa-fw fa-hospital-o"></i>
            <p>Internaciones</p>
          </a>
        </li>
        <li class="mainHCESidebarList__button" [ngClass]="clicked === 6 ? 'active ' : ''" (click)="select(6)">
          <a type="button" class="btn btn-accent" (click)="goToLink('http://appinnovadev.tipsalud.local:8015/TurnosOnline/login.html')">
            Turnos online
            <i
              class="fa fa-chevron-right fa-fw"
              aria-hidden="true"
            ></i> </a
          ><a type="button" class="btn btn-accent" href=""
            ><i class="fa fa-fw fa-calendar"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>