
  
  <section id="mainHCEContent">
    <div class="container-fluid">
      <div class="row">
        <app-sidebar></app-sidebar>
        <!-- <div class="col-auto mainHCEContent__sidebar colapsado">
          <div class="row mainHCESidebar__logo">
            <div class="col mainHCESidebarLogo logo-mobile">
              <a href="index.html" class="">
                <picture>
                  <source
                    srcset="../../../../assets/client/HospitalPrivado/isologotypeNegative.webp"
                    type="image/webp"
                    class="img-fluid"
                  />
                  <img
                    src="../../../../assets/client/HospitalPrivado/isologotypeNegative.png"
                    
                    alt="Logotipo"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
            <div class="col mainHCESidebarLogo--colapsado">
              <a href="index.html" class="d-none d-lg-flex">
                <picture>
                  <source
                    srcset="./client/HospitalPrivado/isotypeNegative.webp"
                    type="image/webp"
                    class="img-fluid"
                  />
                  <img
                    src="./client/HospitalPrivado/isotypeNegative.png"
                    alt="Logotipo"
                    class="img-fluid"
                  />
                </picture>
              </a>
            </div>
            <button
              id="menuCollapseButton2"
              class="btn btn-icon d-lg-none btn-close-mobile"
            >
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
          <div class="row mainHCESidebar__list">
            <div class="col mainHCESidebarList">
              <ul class="mainHCESidebarList__container">
                <li class="mainHCESidebarList__item active">
                  <a href="index.html">
                    <i class="fa fa-fw fa-file-text-o"></i>
                    <p>Resumen clínico</p>
                  </a>
                </li>
                <li class="mainHCESidebarList__item">
                  <a href="motivo-consulta.html">
                    <i class="fa fa-fw fa-stethoscope"></i>
                    <p>Motivos de consulta</p>
                  </a>
                </li>
                <li class="mainHCESidebarList__item">
                  <a href="profesionales.html">
                    <i class="fa fa-fw fa-user-md"></i>
                    <p>Profesionales visitados</p>
                  </a>
                </li>
                <li class="mainHCESidebarList__item">
                  <a href="resultados-estudios.html">
                    <i class="fa fa-fw fa-laptop"></i>
                    <p>Resultados de estudios</p>
                  </a>
                </li>
                <li class="mainHCESidebarList__item">
                  <a href="medicamentos.html">
                    <i class="fa fa-fw fa-svg fa-pildora"></i>
                    <p>Medicamentos</p>
                  </a>
                </li>
                <li class="mainHCESidebarList__item">
                  <a href="internaciones.html">
                    <i class="fa fa-fw fa-hospital-o"></i>
                    <p>Internaciones</p>
                  </a>
                </li>
                <li class="mainHCESidebarList__button">
                  <a type="button" class="btn btn-accent">
                    Turnos online
                    <i
                      class="fa fa-chevron-right fa-fw"
                      aria-hidden="true"
                    ></i> </a
                  ><a type="button" class="btn btn-accent" href=""
                    ><i class="fa fa-fw fa-calendar"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="col mainHCEContent__body">
          <div class="row mainHCEContentBody">
            <app-header></app-header>
            <section id="contenido">
              <!-- {{{body}}} -->
              
              <router-outlet></router-outlet>
            </section>

            <!-- {{> _common/footer/footer}} -->
          </div>
        </div>
      </div>
    </div>
  </section>


