<div class="container-fluid">
  <div class="row contenidoTitle">
      <div class="col">
          <h1> Resultados de estudios </h1>
      </div>
  </div>
  <div class='row'>
      <div class='col'>
          <div class='card'>
              <div class='card-body'>
                  <div class='row'>
                      <div class="col">
                          <!-- <div class="row componenteFiltroResultados">
                              <div class="col-auto filtroResultados__label">
                                  <p>Filtrar resultados</p>
                              </div>
                              <div class="col filtroResultados__switch">
                                  <div class='badge active'>
                                      <a >
                                          <i class="fa fa-svg fa-vaso fa-fw badge__icon" aria-hidden="true"></i>
                                          <p class="badge__label">Laboratorio químico</p>
                                          <i class="fa fa-fw badge__status" aria-hidden="true"></i>
                                      </a>
                                  </div>
                                  <div class='badge'>
                                      <a >
                                          <i class="fa fa-svg fa-probeta fa-fw badge__icon" aria-hidden="true"></i>
                                          <p class="badge__label">Hematología y Oncología</p>
                                          <i class="fa fa-fw badge__status" aria-hidden="true"></i>
                                      </a>
                                  </div>
                                  <div class='badge active'>
                                      <a >
                                          <i class="fa fa-svg fa-chupete fa-fw badge__icon" aria-hidden="true"></i>
                                          <p class="badge__label">Imagenes y digitalizaciones</p>
                                          <i class="fa fa-fw badge__status" aria-hidden="true"></i>
                                      </a>
                                  </div>
                                  <div class='badge active'>
                                      <a >
                                          <i class="fa fa-svg fa-chupete fa-fw badge__icon" aria-hidden="true"></i>
                                          <p class="badge__label">Anatomía patológica</p>
                                          <i class="fa fa-fw badge__status" aria-hidden="true"></i>
                                      </a>
                                  </div>
                                  <div class='badge'>
                                      <a >
                                          <i class="fa fa-svg fa-chupete fa-fw badge__icon" aria-hidden="true"></i>
                                          <p class="badge__label">Histocompatibilidad y Biología Molecular</p>
                                          <i class="fa fa-fw badge__status" aria-hidden="true"></i>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <hr>
                              </div>
                          </div> -->
                      </div>
                      <div class='col-12 headTable'>
                          <div class='row align-items-center'>
                              <div class='col-auto'>
                                  <div class='row componenteMostrarCantidadRegistros'>
                                      <div class='col-auto control-label-between'>
                                          <p>Mostrar</p>
                                      </div>
                                      <div class='col'>
                                        <div class="form-group">
                                            <select class="form-control" type="number" [(ngModel)]="cantidad">
                                              <option [value]="10" selected="">10</option>
                                              <option [value]="25">25</option>
                                              <option [value]="50">50</option>
                                            </select>
                                            
                                          </div>
                                      </div>
                                      <div class='col-auto control-label-between'>
                                          <p>registros</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-auto col-lg-4 col-xl-3 ml-auto">
                                  <div class='form-group componenteBusqueda'>
                                      <div class='input-group'>
                                          <div class='input-group-prepend'>
                                              <span class='input-group-text'><i class='fa fa-search' aria-hidden='true'></i></span>
                                          </div>
                                          <input type='text' class='form-control' placeholder="Buscar" [(ngModel)]="strBuscar" (ngModelChange)="buscar()">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="table-responsive">
                              <table class='table'>
                                  <thead>
                                      <tr>
                                          <th (click)="sort('FechaRealizacion')" class="tableOrderBy--active">Fecha <a><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i></a></th>
                                          <th class="tableOrderBy">Estudio realizado <a ><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i></a></th>
                                          <th class="tableOrderBy text-center" width="125">Informe <a ><i class="fa fa-sort-amount-asc fa-fw" aria-hidden="true"></i></a></th>
                                      </tr>
                                  </thead>
                                  <tbody *ngFor="let i of informesFiltrados | orderBy: key: reverse | paginate: {itemsPerPage:cantidad, currentPage:p};">
                                      <tr>
                                          <td>{{i.FechaRealizacion | date:'dd/MM/yyyy' }}</td>
                                          <td>{{i.Estudio}}</td>
                                          <td style="cursor: pointer;" class="text-center"(click)="openModal(i)" ><i class= "{{i.getClass()}} fa-fw" aria-hidden="true"></i></td>
                                      </tr>
                                    
                                  </tbody>
                                  <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Proximo" (pageChange)="p = $event" ></pagination-controls>
                              </table>
                          </div>
                      </div>
                      <!-- <div class="col">
                          <nav class="componentePaginador">
                              <ul class="pagination">
                                  <li class="page-item">
                                      <a class="page-link"  aria-label="Previous">
                                          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                      </a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link"  aria-label="Previous">
                                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                                      </a>
                                  </li>
                                  <li class="page-item active"><a class="page-link" >1</a></li>
                                  <li class="page-item"><a class="page-link" >2</a></li>
                                  <li class="page-item"><a class="page-link" >3</a></li>
                                  <li class="page-item">
                                      <a class="page-link"  aria-label="Next">
                                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                                      </a>
                                  </li>
                                  <li class="page-item">
                                      <a class="page-link"  aria-label="Next">
                                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                      </a>
                                  </li>
                              </ul>
                          </nav>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  
</div>