<div _ngcontent-c5="" class="cardAccess--estudios">
  <div _ngcontent-c5="" class="cardAccess__header">
      <div _ngcontent-c5="" class="row cardAccessHeader">
          <div _ngcontent-c5="" class="col-auto cardAccessHeader__icon">
              <i _ngcontent-c5="" aria-hidden="true" class="fa fa-laptop fa-fw"></i>
          </div>
          <div _ngcontent-c5="" class="col cardAccessHeader__title">
              <p _ngcontent-c5="">¡Tus estudios al instante!</p>
          </div>
          <div _ngcontent-c5="" class="col-auto cardAccessHeader__chevron">
              <a _ngcontent-c5="" routerLink="resultados">
                  <i _ngcontent-c5="" aria-hidden="true" class="fa fa-chevron-right"></i>
              </a>
          </div>
      </div>
  </div>
  <div _ngcontent-c5="" class="cardAccess__body">
      <div _ngcontent-c5="" class="row cardAccessBody">
          <div _ngcontent-c5="" class="col cardAccessBody__content">
              <p _ngcontent-c5="">Visualiza, compara y resguarda tus estudios de forma simple y segura.</p>
          </div>
      </div>
  </div>
</div>