<section id="contenido">
  <section class="HCOnline home-login">
      <main class="container-fluid">
          <div class="row">
              <div class="col d-flex align-items-center bg">
                  <div class="registro"></div>
              </div>
              <div class="col-md-4 formAcceso formAcceso__derecha d-flex justify-content-center align-items-center">
                  <div class="inicio-sesion">
                      <div class="logo">
                          <picture>
                              <img src="../../../assets/client/TIPS/TIPS logotipo positivo con slogan.jpg" alt="Logotipo" class="w-75">
                          </picture>
                      </div>
                      <h3>Generar Contraseña</h3>
                      <form [formGroup]="passForm">
                          <div class="form-group">
                              <label for="login">Ingresar contraseña</label>
                              <div class="input-group">
                                  <input type="password" class="form-control" formControlName="password" aria-label="" aria-describedby="button-addon2">
                                  <!-- <div class="input-group-append">
                                      <button class="btn" type="button" id="button-addon2"><i class="fa fa-eye" aria-hidden="true"></i>
                                      </button>
                                  </div> -->
                              </div>
                              <!-- Para el listado del txt de ayuda, la clase "validación" automáticamente si el usuario ingreso los caracteres correctos y si escribió la misma contraseña -->
                              <ul class="validacion">
                                  <li *ngIf="(passForm.controls['password'].hasError('required') || passForm.controls['password'].hasError('minlength'))"><small class="form-text validacion--pendiente">- Mínimo de 6 caracteres</small></li>
                                  <li *ngIf="passForm.controls['password'].hasError('required') || passForm.controls['password'].hasError('hasCapitalCase')"><small class="form-text validacion--pendiente">- Al menos una mayúscula</small></li>
                                  <li *ngIf="passForm.controls['password'].hasError('required') || passForm.controls['password'].hasError('hasSmallCase')"><small class="form-text validacion--pendiente">- Al menos una minúscula</small></li>
                                  <li *ngIf="passForm.controls['password'].hasError('required') || passForm.controls['password'].hasError('hasNumber')"><small class="form-text validacion--pendiente">- Al menos un caracter numérico</small></li>
                              </ul>
                              <small class="form-text text-muted"></small>
                          </div>
                          <div class="form-group">
                              <label for="login">Confirmar contraseña</label>
                              <div class="input-group">
                                  <input type="password" class="form-control " formControlName="confirmPassword" aria-label="" aria-describedby="button-addon2">
                                  <!-- <div class="input-group-append">
                                      <button class="btn" type="button" id="button-addon2"><i class="fa fa-eye" aria-hidden="true"></i>
                                      </button>
                                  </div> -->
                              </div>
                              <ul class="validacion">
                                  <li *ngIf="passForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
                                    <small class="form-text validacion--pendiente">Las contraseñas deben ser iguales.</small>
                                </li>
                              </ul>
                          </div>
                          <button type="submit" (click)="generar()" class="btn btn-primary btn-block" [disabled]="passForm.invalid">Generar</button>
                      </form>
                  </div>
              </div>
          </div>
      </main>
  </section>

</section>